# Corelation Analysis 
- Population
    - Total population(2021) 
- Education
    - Higher education percentage (undergrad, postgrad, grad diploma) (2021)
- Income
    - Total family income (2021)
    - Total personal income(2021)
- Pay
    - Median monthly mortgage(2021)
    - Median Weekly rent(2021)
- Median age
- Household
    - Average number of people per bedroom (Median)(2021)
    - Average household size (Median)(2021)
- Employment
    - Percentage of unemployment(2021)
    - Percentage of labour force participation(2021)
- Marital status 
    - Percentage of Unmarried(2021)
- Longevity (pred. 2022)

In [2]:
import pandas as pd

## Predict death rate for 2022

In [71]:
death = pd.read_csv('../data/raw/sudo/abs_deaths_gccsa_2012_2020.csv')
death.head()

,gccsa_code,_2020_standardised_death_rate_rate,_2014_standardised_death_rate_rate,_2017_standardised_death_rate_rate,_2019_standardised_death_rate_rate,_2015_standardised_death_rate_rate,_2018_standardised_death_rate_rate,_2013_standardised_death_rate_rate,_2012_standardised_death_rate_rate,_2016_standardised_death_rate_rate
0,1GSYD,4.7,5.2,5.0,4.8,5.2,4.9,5.3,5.4,5.1
1,1RNSW,5.8,6.1,6.0,5.9,6.1,5.9,6.1,6.2,6.1
2,2GMEL,4.7,5.0,5.0,4.8,5.1,4.8,5.1,5.3,5.1
3,2RVIC,5.7,5.9,5.9,5.7,5.9,5.7,6.0,6.2,6.0
4,3GBRI,5.1,5.7,5.5,5.3,5.6,5.3,5.8,5.8,5.5

In [104]:
years = range(2012, 2021)
from sklearn.linear_model import LinearRegression
pred = pd.DataFrame({'years': [2022]})
death = death.reindex(columns=['gccsa_code'] + year_columns)
result_df = pd.DataFrame(columns=['gcc', 'pred_death_2022'])

gcc_lst = []
pred_lst = []
for gcc in death.gccsa_code:
    X = pd.DataFrame({'years': list(years)})
    y = death.loc[death['gccsa_code'] == gcc].T.iloc[1::]
    model = LinearRegression().fit(X, y)
    prediction = model.predict(pred)
    gcc_lst.append(gcc)
    pred_lst.append(prediction[0][0])
gcc_lst
death_rate = pd.DataFrame({'gcc': gcc_lst, 'pred_death_rate_2022': pred_lst})
death_rate.to_csv('../data/curated/pred_death_rate_2022.csv')

In [171]:
life_expect = pd.read_csv('../data/raw/sudo/abs_life_tables_gccsa_2010_2019.csv')
life_expect.head()
# no enough data

,life_expectancy_p_2011_13,gcc_code16,life_expectancy_p_2017_19,life_expectancy_p_2010_12,life_expectancy_p_2013_15,life_expectancy_p_2015_17,life_expectancy_p_2012_14,life_expectancy_p_2016_18,life_expectancy_p_2014_16
0,81.0,1RNSW,81.5,81.1,81.2,81.1,81.1,81.5,81.1
1,83.2,1GSYD,84.2,83.1,83.5,83.8,83.4,84.1,83.6
2,81.6,2RVIC,81.7,81.3,81.4,81.5,81.7,82.1,81.3
3,83.5,2GMEL,84.3,83.3,83.7,84.0,83.7,84.5,83.7
4,82.2,3GBRI,83.3,82.2,82.8,82.9,82.6,83.2,83.0

In [127]:
# population
marital_status = pd.read_csv('../data/raw/sudo/abs_2021census_Social_Marital_Status_by_Age_by_Sex.csv')
marital_status.columns
population = marital_status[['gccsa_code_2021',' p_tot_total']]
population = population.rename(columns={' p_tot_total': 'population'})

In [128]:
# marital_status
marital_status = marital_status[['gccsa_code_2021', ' p_tot_not_married']]
marital_status = marital_status.rename(columns={' p_tot_not_married': 'p_tot_not_married'})

In [144]:
# higher education
education = pd.read_csv("../data/raw/sudo/abs_2021census_Selected_Labour_Force_Education_and_Migration_Characteristics_by_Sex.csv")
education.columns
education = education.rename(columns=lambda x: x.replace(' ', ''))
education.columns
education['higher_edu'] = education['non_sch_qual_bchelr_degree_p'] + education['non_sch_qual_postgrad_dgre_p'] + education['non_sch_qual_gr_dip_gr_crt_p']
higher_education = education[['gccsa_code_2021', 'higher_edu']]

In [146]:
# employment
employment = education [['gccsa_code_2021','percnt_labforc_prticipation_p', 'percent_unem_loyment_p']]
employment

   gccsa_code_2021  percnt_labforc_prticipation_p  percent_unem_loyment_p
0            1GSYD                           60.0                     5.1
1            1RNSW                           56.4                     4.6
2            2GMEL                           64.1                     5.3
3            2RVIC                           57.4                     4.1
4            3GBRI                           64.5                     5.5
5            3RQLD                           59.1                     5.2
6            4GADE                           61.7                     5.5
7            4RSAU                           54.1                     4.8
8            5GPER                           65.2                     5.3
9            5RWAU                           59.4                     4.2
10           6GHOB                           61.6                     6.2
11           6RTAS                           55.7                     5.6
12           7GDAR                           69.7                     4.0
13           7RNTE                           50.7                     8.9
14           8ACTE                           69.6                     3.8
15           9OTER                           58.1                     2.3

In [164]:
# other all in median dataset
median = pd.read_csv('../data/raw/sudo/abs_2021census.csv')
median = median.rename(columns=lambda x: x.replace(' ', ''))
median.columns

Index(['median_tot_hhd_inc_weekly', 'median_age_persons',
       'median_mortgage_repay_monthly', 'gccsa_code_2021',
       'median_rent_weekly', 'average_num_psns_per_bedroom',
       'median_tot_fam_inc_weekly', 'average_household_size',
       'median_tot_prsnl_inc_weekly'],
      dtype='object')

In [167]:
corelation_df = death_rate.merge(population,how="inner", left_on="gcc", right_on="gccsa_code_2021").drop(columns="gcc").merge(marital_status, how="inner", on= "gccsa_code_2021").merge(higher_education, how="inner", on= "gccsa_code_2021").merge(employment, how="inner", on= "gccsa_code_2021").merge(median, how="inner", on= "gccsa_code_2021")
corelation_df.to_csv("../data/curated/corelation_df.csv")

In [170]:
corelation_df['higher_edu_p'] = corelation_df['higher_edu'] / corelation_df['p_tot_not_married']
corelation_df

,pred_death_rate_2022,gccsa_code_2021,population,p_tot_not_married,higher_edu,percnt_labforc_prticipation_p,percent_unem_loyment_p,median_tot_hhd_inc_weekly,median_age_persons,median_mortgage_repay_monthly,median_rent_weekly,average_num_psns_per_bedroom,median_tot_fam_inc_weekly,average_household_size,median_tot_prsnl_inc_weekly,higher_edu_p
0,4.556667,1GSYD,3947759,1674575,1423357,60.0,5.1,2077,37,2427,470,0.9,2374,2.7,881,0.849981
1,5.752222,1RNSW,2069770,857965,413738,56.4,4.6,1434,43,1733,330,0.8,1852,2.4,722,0.482232
2,4.608889,2GMEL,3721666,1582170,1319884,64.1,5.3,1901,37,2000,390,0.9,2243,2.6,841,0.834224
3,5.558889,2RVIC,1156437,472731,236518,57.4,4.1,1386,43,1430,285,0.7,1808,2.4,713,0.500323
4,4.991111,3GBRI,1870018,789122,550812,64.5,5.5,1849,36,1863,380,0.8,2175,2.6,842,0.698006
5,5.212222,3RQLD,1867231,767383,365796,59.1,5.2,1507,41,1655,345,0.8,1868,2.5,746,0.476680
6,5.118889,4GADE,1059061,459247,298174,61.7,5.5,1548,39,1562,320,0.8,1988,2.5,762,0.649267
7,5.538889,4RSAU,283015,112032,36696,54.1,4.8,1190,47,1153,220,0.7,1525,2.3,646,0.327549
8,4.682222,5GPER,1548581,632126,454538,65.2,5.3,1865,37,1907,350,0.8,2259,2.6,859,0.719062
9,5.723333,5RWAU,347482,134151,58283,59.4,4.2,1597,40,1560,265,0.8,2013,2.5,810,0.434458
10,5.478889,6GHOB,186383,81636,59913,61.6,6.2,1542,39,1517,350,0.8,1920,2.4,776,0.733904
11,5.770000,6RTAS,229826,94060,41783,55.7,5.6,1225,45,1274,250,0.8,1562,2.3,645,0.444216
12,5.577778,7GDAR,94611,39987,29016,69.7,4.0,2209,34,2100,385,0.9,2485,2.6,1120,0.725636
13,8.641111,7RNTE,56539,27626,10010,50.7,8.9,1706,31,1733,150,1.2,1407,3.1,539,0.362340