In [1]:
import pandas as pd

In [22]:
pd.read_csv("./mastodon.csv")

,content,created_at,hashtags,language
0,<p>If there's any team that could trick this o...,2023-04-26 04:27:53+00:00,['nba'],en
1,<p>This piece was damaged in storage (scratche...,2023-04-26 04:27:51+00:00,[],en
2,<p>ðŸ‡ºðŸ‡¸ðŸ‡ºðŸ‡¦Draft resolution â€˜Ukrainian Victoryâ€™ pr...,2023-04-26 04:27:54+00:00,"['wanteddeadoralive', '9yearsofwarinukraine', ...",en
3,<p>AFL does not regret past concussion managem...,2023-04-26 04:27:37+00:00,['news'],en
4,"<p>""Our whole spiritual transformation brings ...",2023-04-26 04:27:55+00:00,[],en
...,...,...,...,...
6745,"<p>You can dual class into trucker, but if you...",2023-04-26 08:46:35+00:00,[],en
6746,<p>Attempts to silence journalists increase in...,2023-04-26 08:46:37+00:00,"['news', 'aljazeera']",en
6747,<p>Photos: Indiaâ€™s holy city where elderly Hin...,2023-04-26 08:46:38+00:00,"['news', 'aljazeera']",en
6748,<p>Braverman says illegal migrants have â€˜value...,2023-04-26 08:45:35+00:00,[],en
6749,<p>Arabs Abroad: The Money Men<br>-- A Lebanes...,2023-04-26 08:46:38+00:00,"['news', 'aljazeera']",en